@import 'Colours';

.App {
  position: relative;
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  color: $cyan;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -0.36px;
  line-height: 40px;
}

h2 {
  font-size: 2.5rem;
  line-height: 42px;
}

h3 {
  font-size: 2rem;
  line-height: 36px;
}

p {
  color: $greyDarkBlue;
  font-family: 'Public Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
}

.small-p {
  color: $greyDarkBlue;
  font-family: 'Public Sans', sans-serif;
  font-size: 0.9375rem;
  line-height: 30px;
}

label {
  color: $greyDarkBlue;
  font-family: 'Public Sans', sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  margin-bottom: 15px;
}

input {
  background-color: $lightGreyTextField;
  border: none;
  height: 48px;
  margin-bottom: 30px;
  width: 100%;
}

textarea {
  background-color: $lightGreyTextField;
  border: none;
  margin-bottom: 20px;
  width: 100%;
}

input::placeholder {
  font-family: 'Public Sans', sans-serif;
  padding-left: 10px;
}

input::-moz-placeholder {
  font-family: 'Public Sans', sans-serif;
  padding-left: 10px;
}

input:-moz-placeholder {
  font-family: 'Public Sans', sans-serif;
  padding-left: 10px;
}

input::-webkit-input-placeholder {
  font-family: 'Public Sans', sans-serif;
  padding-left: 10px;
}

textarea::placeholder {
  font-family: 'Public Sans', sans-serif;
  padding-left: 10px;
  padding-top: 10px;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.container {
  margin: 20px auto;
  max-width: 1100px;
}

.button {
  align-items: center;
  border: 1px solid transparent;
  display: flex;
  font-family: 'Public Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  height: 48px;
  justify-content: space-around;
  letter-spacing: 2px;
  width: 200px;
}

.button:disabled {
  background-color: $lightGreyTextField;
}

.button-primary {
  background-color: $darkBlue;
  color: $lightGrey;
}

.button-primary:hover, .button-primary:focus {
  background-color: $cyan;
}

.button-secondary {
  background-color: transparent;
  border: 1px solid $greyDarkBlue;
  color: $darkBlue;
}

.button-secondary:hover, .button-secondary:focus {
  background-color: $greyDarkBlue;
  color: $lightGrey;
}

.button-secondary:disabled {
  border-color: $lightGreyTextField;
  color: $lightGreyTextField;
}

.button-img-container {
  text-align: center;
  width: 48px;
}

.button-img-container>.button-img {
  width: 15px;
}

.button-primary:hover + .button-img g {
  fill: $lightGrey;
}

.button-primary:hover, .button-primary:focus + .button-img-container>.button-img {
  fill: $lightGrey;
}

.button-text {
  flex: 1;
  text-align: center;
}

.app-container {
  margin: 50px 20px 0;
  min-height: 97vh;
  padding-bottom: 260px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 50;
}

.navigation {
  display: flex;
}

.nav img {
  height: 30px;
  width: 50px;
}

.nav li {
  color: $greyDarkBlue;
  font-family: 'Public Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 14.1px;
  margin-left: 50px;
}

.nav li a {
  color: $greyDarkBlue;
}

.nav li a:focus,
.nav li a:hover {
  color: $cyan;
}

.nav li .active {
  color: $cyan;
}

.nav .mobile-nav img {
  height: 20px;
  width: 30px;
}

.mobile-nav {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mobile-navigation {
  align-items: center;
  background-color: $greyDarkBlue;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding: 30px;
  position: absolute;
  white-space: nowrap;
}

.mobile-navigation li {
  margin-left: 0;
  padding: 10px;
}

.mobile-navigation li a {
  color: $lightGrey;
}

.footer {
  background-color: $greyDarkBlue;
  bottom: 0;
  color: $lightGrey;
  display: flex;
  padding: 50px;
  position: absolute;
  width: 100%;
}

.footer-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer ul {
  display: flex;
}

.footer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1100px;
  width: inherit;
}

.footer .bottom-nav {
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer li {
  font-family: 'Public Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 40px;
  list-style-type: none;
  margin: 0 10px;
}

.footer li a {
  color: $lightGrey;
}

.footer li a:focus,
.footer li a:hover {
  color: $cyan;
}

.footer svg path {
  fill: $lightGrey;
}

@media only screen and (min-width: 500px) {
  .app-container {
    padding-bottom: 90px;
  }

  .footer {
    height: 80px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer li {
    line-height: 14.1px;
  }

  .footer-left {
    flex-direction: row;
  }

  .footer .bottom-nav {
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.125rem;
    letter-spacing: -0.45px;
    line-height: 50px;
  }
}